<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:zip) %></th>
      <th><%= User.human_attribute_name(:address) %></th>
      <th><%= User.human_attribute_name(:introduction) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.zip %></td>
        <td><%= user.address %></td>
        <td><%= user.introduction %></td>
        <td><%= link_to t('links.show'), user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
